<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt1</key>
  <array>
    <string>A</string>
    <string>O</string>
    <string>Scedilla</string>
    <string>a</string>
    <string>o</string>
    <string>scedilla</string>
    <string>exclamdown</string>
    <string>questiondown</string>
    <string>uni2E18</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>exclamdown.case</string>
    <string>questiondown.case</string>
    <string>uni2E18.case</string>
  </array>
  <key>aalt3</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>subs1</key>
  <array>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
  </array>
  <key>sups1</key>
  <array>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>uni2070</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
</dict>
</plist>
