<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1556</integer>
	<key>capHeight</key>
	<integer>1493</integer>
	<key>copyright</key>
	<string>Copyright (c) 2018 Source Foundry Authors / Copyright (c) 2003 by Bitstream, Inc. All Rights Reserved.</string>
	<key>descender</key>
	<integer>-492</integer>
	<key>familyName</key>
	<string>Hack</string>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Hack</string>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2017/10/23 12:00:00</string>
	<key>openTypeHeadFlags</key>
	<array>
	</array>
	<key>openTypeHheaAscender</key>
	<integer>1901</integer>
	<key>openTypeHheaDescender</key>
	<integer>-483</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Hack Regular</string>
	<key>openTypeNameDescription</key>
	<string></string>
	<key>openTypeNameDesigner</key>
	<string>Source Foundry Authors</string>
	<key>openTypeNameDesignerURL</key>
	<string>https://github.com/source-foundry/Hack</string>
	<key>openTypeNameLicense</key>
	<string>The work in the Hack project is Copyright 2018 Source Foundry Authors and licensed under the MIT License

The work in the DejaVu project was committed to the public domain.

Bitstream Vera Sans Mono Copyright 2003 Bitstream Inc. and licensed under the Bitstream Vera License with Reserved Font Names "Bitstream" and "Vera"

MIT License

Copyright (c) 2018 Source Foundry Authors

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

BITSTREAM VERA LICENSE

Copyright (c) 2003 by Bitstream, Inc. All Rights Reserved. Bitstream Vera is a trademark of Bitstream, Inc.

Permission is hereby granted, free of charge, to any person obtaining a copy of the fonts accompanying this license ("Fonts") and associated documentation files (the "Font Software"), to reproduce and distribute the Font Software, including without limitation the rights to use, copy, merge, publish, distribute, and/or sell copies of the Font Software, and to permit persons to whom the Font Software is furnished to do so, subject to the following conditions:

The above copyright and trademark notices and this permission notice shall be included in all copies of one or more of the Font Software typefaces.

The Font Software may be modified, altered, or added to, and in particular the designs of glyphs or characters in the Fonts may be modified and additional glyphs or characters may be added to the Fonts, only if the fonts are renamed to names not containing either the words "Bitstream" or the word "Vera".

This License becomes null and void to the extent applicable to Fonts or Font Software that has been modified and is distributed under the "Bitstream Vera" names.

The Font Software may be sold as part of a larger software package but no copy of one or more of the Font Software typefaces may be sold by itself.

THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL BITSTREAM OR THE GNOME FOUNDATION BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.

Except as contained in this notice, the names of Gnome, the Gnome Foundation, and Bitstream Inc., shall not be used in advertising or otherwise to promote the sale, use or other dealings in this Font Software without prior written authorization from the Gnome Foundation or Bitstream Inc., respectively. For further information, contact: fonts at gnome dot org.</string>
	<key>openTypeNameLicenseURL</key>
	<string>https://github.com/source-foundry/Hack/blob/master/LICENSE.md</string>
	<key>openTypeNameManufacturer</key>
	<string>Source Foundry</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/source-foundry</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Hack</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameSampleText</key>
	<string></string>
	<key>openTypeNameUniqueID</key>
	<string>SourceFoundry: Hack: 2018</string>
	<key>openTypeNameVersion</key>
	<string>Version 3.003</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>29</integer>
		<integer>48</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>63</integer>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2Selection</key>
	<array>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>530</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>102</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>153</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>1228</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>1331</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>716</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>1228</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>1556</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-492</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>410</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>24</integer>
		<integer>26</integer>
		<integer>29</integer>
		<integer>31</integer>
		<integer>32</integer>
		<integer>33</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>47</integer>
		<integer>60</integer>
		<integer>69</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>SRC</string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1901</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>483</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.036999999999999998</real>
	<key>postscriptBlueShift</key>
	<integer>14</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-29</integer>
		<integer>0</integer>
		<integer>1120</integer>
		<integer>1147</integer>
		<integer>1493</integer>
		<integer>1520</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Hack-Regular</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Hack Regular</string>
	<key>postscriptIsFixedPitch</key>
	<true/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-440</integer>
		<integer>-430</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>170</integer>
		<integer>143</integer>
		<integer>156</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>203</integer>
		<integer>160</integer>
		<integer>184</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-220</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>90</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>styleMapFamilyName</key>
	<string>Hack</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string></string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>3</integer>
	<key>versionMinor</key>
	<integer>003</integer>
	<key>xHeight</key>
	<integer>1120</integer>
</dict>
</plist>
