<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Acircumflex.001</key>
	<string>A_circumflex.001.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Cdotaccent</key>
	<string>C_dotaccent.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>Delta</key>
	<string>D_elta.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>G_breve.glif</string>
	<key>Gcaron</key>
	<string>G_caron.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>Gdotaccent</key>
	<string>G_dotaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>H_bar.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Idotaccent</key>
	<string>I_dotaccent.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>Itilde</key>
	<string>I_tilde.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohorn</key>
	<string>O_horn.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Oslashacute</key>
	<string>O_slashacute.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>Scommaaccent</key>
	<string>S_commaaccent.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhorn</key>
	<string>U_horn.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>Utilde</key>
	<string>U_tilde.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c6459</key>
	<string>c6459.glif</string>
	<key>c6460</key>
	<string>c6460.glif</string>
	<key>c6461</key>
	<string>c6461.glif</string>
	<key>c6468</key>
	<string>c6468.glif</string>
	<key>c6470</key>
	<string>c6470.glif</string>
	<key>c6472</key>
	<string>c6472.glif</string>
	<key>c6475</key>
	<string>c6475.glif</string>
	<key>c6476</key>
	<string>c6476.glif</string>
	<key>c6477</key>
	<string>c6477.glif</string>
	<key>c6478</key>
	<string>c6478.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotbelowcomb</key>
	<string>dotbelowcomb.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcaron</key>
	<string>gcaron.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hookabovecomb</key>
	<string>hookabovecomb.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nonbreakingspace</key>
	<string>nonbreakingspace.glif</string>
	<key>nonmarkingreturn</key>
	<string>nonmarkingreturn.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>sfthyphen</key>
	<string>sfthyphen.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0400</key>
	<string>uni0400.glif</string>
	<key>uni0401</key>
	<string>uni0401.glif</string>
	<key>uni0402</key>
	<string>uni0402.glif</string>
	<key>uni0403</key>
	<string>uni0403.glif</string>
	<key>uni0404</key>
	<string>uni0404.glif</string>
	<key>uni0405</key>
	<string>uni0405.glif</string>
	<key>uni0406</key>
	<string>uni0406.glif</string>
	<key>uni0407</key>
	<string>uni0407.glif</string>
	<key>uni0408</key>
	<string>uni0408.glif</string>
	<key>uni0409</key>
	<string>uni0409.glif</string>
	<key>uni040A</key>
	<string>uni040A_.glif</string>
	<key>uni040B</key>
	<string>uni040B_.glif</string>
	<key>uni040C</key>
	<string>uni040C_.glif</string>
	<key>uni040D</key>
	<string>uni040D_.glif</string>
	<key>uni040E</key>
	<string>uni040E_.glif</string>
	<key>uni040F</key>
	<string>uni040F_.glif</string>
	<key>uni0410</key>
	<string>uni0410.glif</string>
	<key>uni0411</key>
	<string>uni0411.glif</string>
	<key>uni0412</key>
	<string>uni0412.glif</string>
	<key>uni0413</key>
	<string>uni0413.glif</string>
	<key>uni0414</key>
	<string>uni0414.glif</string>
	<key>uni0415</key>
	<string>uni0415.glif</string>
	<key>uni0416</key>
	<string>uni0416.glif</string>
	<key>uni0417</key>
	<string>uni0417.glif</string>
	<key>uni0418</key>
	<string>uni0418.glif</string>
	<key>uni0419</key>
	<string>uni0419.glif</string>
	<key>uni041A</key>
	<string>uni041A_.glif</string>
	<key>uni041B</key>
	<string>uni041B_.glif</string>
	<key>uni041C</key>
	<string>uni041C_.glif</string>
	<key>uni041D</key>
	<string>uni041D_.glif</string>
	<key>uni041E</key>
	<string>uni041E_.glif</string>
	<key>uni041F</key>
	<string>uni041F_.glif</string>
	<key>uni0420</key>
	<string>uni0420.glif</string>
	<key>uni0421</key>
	<string>uni0421.glif</string>
	<key>uni0422</key>
	<string>uni0422.glif</string>
	<key>uni0423</key>
	<string>uni0423.glif</string>
	<key>uni0424</key>
	<string>uni0424.glif</string>
	<key>uni0425</key>
	<string>uni0425.glif</string>
	<key>uni0426</key>
	<string>uni0426.glif</string>
	<key>uni0427</key>
	<string>uni0427.glif</string>
	<key>uni0428</key>
	<string>uni0428.glif</string>
	<key>uni0429</key>
	<string>uni0429.glif</string>
	<key>uni042A</key>
	<string>uni042A_.glif</string>
	<key>uni042B</key>
	<string>uni042B_.glif</string>
	<key>uni042C</key>
	<string>uni042C_.glif</string>
	<key>uni042D</key>
	<string>uni042D_.glif</string>
	<key>uni042E</key>
	<string>uni042E_.glif</string>
	<key>uni042F</key>
	<string>uni042F_.glif</string>
	<key>uni0430</key>
	<string>uni0430.glif</string>
	<key>uni0431</key>
	<string>uni0431.glif</string>
	<key>uni0432</key>
	<string>uni0432.glif</string>
	<key>uni0433</key>
	<string>uni0433.glif</string>
	<key>uni0434</key>
	<string>uni0434.glif</string>
	<key>uni0435</key>
	<string>uni0435.glif</string>
	<key>uni0436</key>
	<string>uni0436.glif</string>
	<key>uni0437</key>
	<string>uni0437.glif</string>
	<key>uni0438</key>
	<string>uni0438.glif</string>
	<key>uni0439</key>
	<string>uni0439.glif</string>
	<key>uni043A</key>
	<string>uni043A_.glif</string>
	<key>uni043B</key>
	<string>uni043B_.glif</string>
	<key>uni043C</key>
	<string>uni043C_.glif</string>
	<key>uni043D</key>
	<string>uni043D_.glif</string>
	<key>uni043E</key>
	<string>uni043E_.glif</string>
	<key>uni043F</key>
	<string>uni043F_.glif</string>
	<key>uni0440</key>
	<string>uni0440.glif</string>
	<key>uni0441</key>
	<string>uni0441.glif</string>
	<key>uni0442</key>
	<string>uni0442.glif</string>
	<key>uni0443</key>
	<string>uni0443.glif</string>
	<key>uni0444</key>
	<string>uni0444.glif</string>
	<key>uni0445</key>
	<string>uni0445.glif</string>
	<key>uni0446</key>
	<string>uni0446.glif</string>
	<key>uni0447</key>
	<string>uni0447.glif</string>
	<key>uni0448</key>
	<string>uni0448.glif</string>
	<key>uni0449</key>
	<string>uni0449.glif</string>
	<key>uni044A</key>
	<string>uni044A_.glif</string>
	<key>uni044B</key>
	<string>uni044B_.glif</string>
	<key>uni044C</key>
	<string>uni044C_.glif</string>
	<key>uni044D</key>
	<string>uni044D_.glif</string>
	<key>uni044E</key>
	<string>uni044E_.glif</string>
	<key>uni044F</key>
	<string>uni044F_.glif</string>
	<key>uni0450</key>
	<string>uni0450.glif</string>
	<key>uni0451</key>
	<string>uni0451.glif</string>
	<key>uni0452</key>
	<string>uni0452.glif</string>
	<key>uni0453</key>
	<string>uni0453.glif</string>
	<key>uni0454</key>
	<string>uni0454.glif</string>
	<key>uni0455</key>
	<string>uni0455.glif</string>
	<key>uni0456</key>
	<string>uni0456.glif</string>
	<key>uni0457</key>
	<string>uni0457.glif</string>
	<key>uni0458</key>
	<string>uni0458.glif</string>
	<key>uni0459</key>
	<string>uni0459.glif</string>
	<key>uni045A</key>
	<string>uni045A_.glif</string>
	<key>uni045B</key>
	<string>uni045B_.glif</string>
	<key>uni045C</key>
	<string>uni045C_.glif</string>
	<key>uni045D</key>
	<string>uni045D_.glif</string>
	<key>uni045E</key>
	<string>uni045E_.glif</string>
	<key>uni045F</key>
	<string>uni045F_.glif</string>
	<key>uni0462</key>
	<string>uni0462.glif</string>
	<key>uni0463</key>
	<string>uni0463.glif</string>
	<key>uni0472</key>
	<string>uni0472.glif</string>
	<key>uni0473</key>
	<string>uni0473.glif</string>
	<key>uni0490</key>
	<string>uni0490.glif</string>
	<key>uni0491</key>
	<string>uni0491.glif</string>
	<key>uni0492</key>
	<string>uni0492.glif</string>
	<key>uni0493</key>
	<string>uni0493.glif</string>
	<key>uni0494</key>
	<string>uni0494.glif</string>
	<key>uni0495</key>
	<string>uni0495.glif</string>
	<key>uni0496</key>
	<string>uni0496.glif</string>
	<key>uni0497</key>
	<string>uni0497.glif</string>
	<key>uni0498</key>
	<string>uni0498.glif</string>
	<key>uni0499</key>
	<string>uni0499.glif</string>
	<key>uni049A</key>
	<string>uni049A_.glif</string>
	<key>uni049B</key>
	<string>uni049B_.glif</string>
	<key>uni04A2</key>
	<string>uni04A_2.glif</string>
	<key>uni04A3</key>
	<string>uni04A_3.glif</string>
	<key>uni04A4</key>
	<string>uni04A_4.glif</string>
	<key>uni04A5</key>
	<string>uni04A_5.glif</string>
	<key>uni04AA</key>
	<string>uni04A_A_.glif</string>
	<key>uni04AB</key>
	<string>uni04A_B_.glif</string>
	<key>uni04AC</key>
	<string>uni04A_C_.glif</string>
	<key>uni04AD</key>
	<string>uni04A_D_.glif</string>
	<key>uni04AE</key>
	<string>uni04A_E_.glif</string>
	<key>uni04AF</key>
	<string>uni04A_F_.glif</string>
	<key>uni04B0</key>
	<string>uni04B_0.glif</string>
	<key>uni04B1</key>
	<string>uni04B_1.glif</string>
	<key>uni04B2</key>
	<string>uni04B_2.glif</string>
	<key>uni04B3</key>
	<string>uni04B_3.glif</string>
	<key>uni04BA</key>
	<string>uni04B_A_.glif</string>
	<key>uni04BB</key>
	<string>uni04B_B_.glif</string>
	<key>uni04C0</key>
	<string>uni04C_0.glif</string>
	<key>uni04C1</key>
	<string>uni04C_1.glif</string>
	<key>uni04C2</key>
	<string>uni04C_2.glif</string>
	<key>uni04C3</key>
	<string>uni04C_3.glif</string>
	<key>uni04C4</key>
	<string>uni04C_4.glif</string>
	<key>uni04C7</key>
	<string>uni04C_7.glif</string>
	<key>uni04C8</key>
	<string>uni04C_8.glif</string>
	<key>uni04CB</key>
	<string>uni04C_B_.glif</string>
	<key>uni04CC</key>
	<string>uni04C_C_.glif</string>
	<key>uni04CF</key>
	<string>uni04C_F_.glif</string>
	<key>uni04D0</key>
	<string>uni04D_0.glif</string>
	<key>uni04D1</key>
	<string>uni04D_1.glif</string>
	<key>uni04D2</key>
	<string>uni04D_2.glif</string>
	<key>uni04D3</key>
	<string>uni04D_3.glif</string>
	<key>uni04D4</key>
	<string>uni04D_4.glif</string>
	<key>uni04D5</key>
	<string>uni04D_5.glif</string>
	<key>uni04D6</key>
	<string>uni04D_6.glif</string>
	<key>uni04D7</key>
	<string>uni04D_7.glif</string>
	<key>uni04D8</key>
	<string>uni04D_8.glif</string>
	<key>uni04D9</key>
	<string>uni04D_9.glif</string>
	<key>uni04DA</key>
	<string>uni04D_A_.glif</string>
	<key>uni04DB</key>
	<string>uni04D_B_.glif</string>
	<key>uni04DC</key>
	<string>uni04D_C_.glif</string>
	<key>uni04DD</key>
	<string>uni04D_D_.glif</string>
	<key>uni04DE</key>
	<string>uni04D_E_.glif</string>
	<key>uni04DF</key>
	<string>uni04D_F_.glif</string>
	<key>uni04E0</key>
	<string>uni04E_0.glif</string>
	<key>uni04E1</key>
	<string>uni04E_1.glif</string>
	<key>uni04E2</key>
	<string>uni04E_2.glif</string>
	<key>uni04E3</key>
	<string>uni04E_3.glif</string>
	<key>uni04E4</key>
	<string>uni04E_4.glif</string>
	<key>uni04E5</key>
	<string>uni04E_5.glif</string>
	<key>uni04E6</key>
	<string>uni04E_6.glif</string>
	<key>uni04E7</key>
	<string>uni04E_7.glif</string>
	<key>uni04E8</key>
	<string>uni04E_8.glif</string>
	<key>uni04E9</key>
	<string>uni04E_9.glif</string>
	<key>uni04EA</key>
	<string>uni04E_A_.glif</string>
	<key>uni04EB</key>
	<string>uni04E_B_.glif</string>
	<key>uni04EC</key>
	<string>uni04E_C_.glif</string>
	<key>uni04ED</key>
	<string>uni04E_D_.glif</string>
	<key>uni04EE</key>
	<string>uni04E_E_.glif</string>
	<key>uni04EF</key>
	<string>uni04E_F_.glif</string>
	<key>uni04F0</key>
	<string>uni04F_0.glif</string>
	<key>uni04F1</key>
	<string>uni04F_1.glif</string>
	<key>uni04F2</key>
	<string>uni04F_2.glif</string>
	<key>uni04F3</key>
	<string>uni04F_3.glif</string>
	<key>uni04F4</key>
	<string>uni04F_4.glif</string>
	<key>uni04F5</key>
	<string>uni04F_5.glif</string>
	<key>uni04F6</key>
	<string>uni04F_6.glif</string>
	<key>uni04F7</key>
	<string>uni04F_7.glif</string>
	<key>uni04F8</key>
	<string>uni04F_8.glif</string>
	<key>uni04F9</key>
	<string>uni04F_9.glif</string>
	<key>uni0510</key>
	<string>uni0510.glif</string>
	<key>uni0511</key>
	<string>uni0511.glif</string>
	<key>uni051A</key>
	<string>uni051A_.glif</string>
	<key>uni051B</key>
	<string>uni051B_.glif</string>
	<key>uni051C</key>
	<string>uni051C_.glif</string>
	<key>uni051D</key>
	<string>uni051D_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
