<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>30</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6402CF3C-56C5-4DE8-82C7-7C605AF39106</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>700</integer>
	<key>com.schriftgestaltung.widthValue</key>
	<integer>5</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohorn</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhorn</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohorn</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhorn</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni0472</string>
		<string>uni0492</string>
		<string>uni0494</string>
		<string>uni0496</string>
		<string>uni0498</string>
		<string>uni049A</string>
		<string>uni04A2</string>
		<string>uni04AA</string>
		<string>uni04AC</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B2</string>
		<string>uni04BA</string>
		<string>uni04C0</string>
		<string>uni04C1</string>
		<string>uni04C3</string>
		<string>uni04C7</string>
		<string>uni04CB</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D6</string>
		<string>uni04D8</string>
		<string>uni04DA</string>
		<string>uni04DC</string>
		<string>uni04DE</string>
		<string>uni04E0</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EA</string>
		<string>uni04EC</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
		<string>uni04F4</string>
		<string>uni04F6</string>
		<string>uni04F8</string>
		<string>uni0510</string>
		<string>uni051A</string>
		<string>uni051C</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni0473</string>
		<string>uni0493</string>
		<string>uni0495</string>
		<string>uni0497</string>
		<string>uni0499</string>
		<string>uni049B</string>
		<string>uni04A3</string>
		<string>uni04AB</string>
		<string>uni04AD</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B3</string>
		<string>uni04BB</string>
		<string>uni04CF</string>
		<string>uni04C2</string>
		<string>uni04C4</string>
		<string>uni04C8</string>
		<string>uni04CC</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DB</string>
		<string>uni04DD</string>
		<string>uni04DF</string>
		<string>uni04E1</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EB</string>
		<string>uni04ED</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
		<string>uni04F5</string>
		<string>uni04F7</string>
		<string>uni04F9</string>
		<string>uni0511</string>
		<string>uni051B</string>
		<string>uni051D</string>
		<string>uni04A4</string>
		<string>uni04A5</string>
		<string>uni04D4</string>
		<string>uni04D5</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Delta</string>
		<string>uni0394</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>Omega</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>uni03D8</string>
		<string>uni03DA</string>
		<string>uni03DC</string>
		<string>uni03DE</string>
		<string>uni03E0</string>
		<string>Upsilon1</string>
		<string>uni03D3</string>
		<string>uni03D4</string>
		<string>uni03F4</string>
		<string>uni03F7</string>
		<string>uni03F9</string>
		<string>uni03FA</string>
		<string>uni03FD</string>
		<string>uni03FE</string>
		<string>uni03FF</string>
		<string>uni1F08</string>
		<string>uni1F09</string>
		<string>uni1F0A</string>
		<string>uni1F0B</string>
		<string>uni1F0C</string>
		<string>uni1F0D</string>
		<string>uni1F0E</string>
		<string>uni1F0F</string>
		<string>uni1FBA</string>
		<string>uni1FBB</string>
		<string>uni1FB8</string>
		<string>uni1FB9</string>
		<string>uni1FBC</string>
		<string>uni1F88</string>
		<string>uni1F89</string>
		<string>uni1F8A</string>
		<string>uni1F8B</string>
		<string>uni1F8C</string>
		<string>uni1F8D</string>
		<string>uni1F8E</string>
		<string>uni1F8F</string>
		<string>uni1F18</string>
		<string>uni1F19</string>
		<string>uni1F1A</string>
		<string>uni1F1B</string>
		<string>uni1F1C</string>
		<string>uni1F1D</string>
		<string>uni1FC8</string>
		<string>uni1FC9</string>
		<string>uni1F28</string>
		<string>uni1F29</string>
		<string>uni1F2A</string>
		<string>uni1F2B</string>
		<string>uni1F2C</string>
		<string>uni1F2D</string>
		<string>uni1F2E</string>
		<string>uni1F2F</string>
		<string>uni1FCA</string>
		<string>uni1FCB</string>
		<string>uni1FCC</string>
		<string>uni1F98</string>
		<string>uni1F99</string>
		<string>uni1F9A</string>
		<string>uni1F9B</string>
		<string>uni1F9C</string>
		<string>uni1F9D</string>
		<string>uni1F9E</string>
		<string>uni1F9F</string>
		<string>uni1F38</string>
		<string>uni1F39</string>
		<string>uni1F3A</string>
		<string>uni1F3B</string>
		<string>uni1F3C</string>
		<string>uni1F3D</string>
		<string>uni1F3E</string>
		<string>uni1F3F</string>
		<string>uni1FDA</string>
		<string>uni1FDB</string>
		<string>uni1FD8</string>
		<string>uni1FD9</string>
		<string>uni1F48</string>
		<string>uni1F49</string>
		<string>uni1F4A</string>
		<string>uni1F4B</string>
		<string>uni1F4C</string>
		<string>uni1F4D</string>
		<string>uni1FF8</string>
		<string>uni1FF9</string>
		<string>uni1FEC</string>
		<string>uni1F59</string>
		<string>uni1F5B</string>
		<string>uni1F5D</string>
		<string>uni1F5F</string>
		<string>uni1FEA</string>
		<string>uni1FEB</string>
		<string>uni1FE8</string>
		<string>uni1FE9</string>
		<string>uni1F68</string>
		<string>uni1F69</string>
		<string>uni1F6A</string>
		<string>uni1F6B</string>
		<string>uni1F6C</string>
		<string>uni1F6D</string>
		<string>uni1F6E</string>
		<string>uni1F6F</string>
		<string>uni1FFA</string>
		<string>uni1FFB</string>
		<string>uni1FFC</string>
		<string>uni1FA8</string>
		<string>uni1FA9</string>
		<string>uni1FAA</string>
		<string>uni1FAB</string>
		<string>uni1FAC</string>
		<string>uni1FAD</string>
		<string>uni1FAE</string>
		<string>uni1FAF</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>mu</string>
		<string>uni03BC</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigma1</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>uni03D9</string>
		<string>uni03DB</string>
		<string>uni03DD</string>
		<string>uni03DF</string>
		<string>uni03E1</string>
		<string>uni03D7</string>
		<string>uni03D0</string>
		<string>theta1</string>
		<string>phi1</string>
		<string>omega1</string>
		<string>uni03F0</string>
		<string>uni03F1</string>
		<string>uni03F2</string>
		<string>uni03F3</string>
		<string>uni03F5</string>
		<string>uni03F8</string>
		<string>uni03FB</string>
		<string>uni03FC</string>
		<string>uni1F00</string>
		<string>uni1F01</string>
		<string>uni1F02</string>
		<string>uni1F03</string>
		<string>uni1F04</string>
		<string>uni1F05</string>
		<string>uni1F06</string>
		<string>uni1F07</string>
		<string>uni1F70</string>
		<string>uni1F71</string>
		<string>uni1FB6</string>
		<string>uni1FB0</string>
		<string>uni1FB1</string>
		<string>uni1FB3</string>
		<string>uni1FB2</string>
		<string>uni1FB4</string>
		<string>uni1F80</string>
		<string>uni1F81</string>
		<string>uni1F82</string>
		<string>uni1F83</string>
		<string>uni1F84</string>
		<string>uni1F85</string>
		<string>uni1F86</string>
		<string>uni1F87</string>
		<string>uni1FB7</string>
		<string>uni1F10</string>
		<string>uni1F11</string>
		<string>uni1F12</string>
		<string>uni1F13</string>
		<string>uni1F14</string>
		<string>uni1F15</string>
		<string>uni1F72</string>
		<string>uni1F73</string>
		<string>uni1F20</string>
		<string>uni1F21</string>
		<string>uni1F22</string>
		<string>uni1F23</string>
		<string>uni1F24</string>
		<string>uni1F25</string>
		<string>uni1F26</string>
		<string>uni1F27</string>
		<string>uni1F74</string>
		<string>uni1F75</string>
		<string>uni1FC6</string>
		<string>uni1FC3</string>
		<string>uni1FC2</string>
		<string>uni1FC4</string>
		<string>uni1F90</string>
		<string>uni1F91</string>
		<string>uni1F92</string>
		<string>uni1F93</string>
		<string>uni1F94</string>
		<string>uni1F95</string>
		<string>uni1F96</string>
		<string>uni1F97</string>
		<string>uni1FC7</string>
		<string>uni1F30</string>
		<string>uni1F31</string>
		<string>uni1F32</string>
		<string>uni1F33</string>
		<string>uni1F34</string>
		<string>uni1F35</string>
		<string>uni1F36</string>
		<string>uni1F37</string>
		<string>uni1F76</string>
		<string>uni1F77</string>
		<string>uni1FD6</string>
		<string>uni1FD0</string>
		<string>uni1FD1</string>
		<string>uni1FD2</string>
		<string>uni1FD3</string>
		<string>uni1FD7</string>
		<string>uni1F40</string>
		<string>uni1F41</string>
		<string>uni1F42</string>
		<string>uni1F43</string>
		<string>uni1F44</string>
		<string>uni1F45</string>
		<string>uni1F78</string>
		<string>uni1F79</string>
		<string>uni1FE4</string>
		<string>uni1FE5</string>
		<string>uni1F50</string>
		<string>uni1F51</string>
		<string>uni1F52</string>
		<string>uni1F53</string>
		<string>uni1F54</string>
		<string>uni1F55</string>
		<string>uni1F56</string>
		<string>uni1F57</string>
		<string>uni1F7A</string>
		<string>uni1F7B</string>
		<string>uni1FE6</string>
		<string>uni1FE0</string>
		<string>uni1FE1</string>
		<string>uni1FE2</string>
		<string>uni1FE3</string>
		<string>uni1FE7</string>
		<string>uni1F60</string>
		<string>uni1F61</string>
		<string>uni1F62</string>
		<string>uni1F63</string>
		<string>uni1F64</string>
		<string>uni1F65</string>
		<string>uni1F66</string>
		<string>uni1F67</string>
		<string>uni1F7C</string>
		<string>uni1F7D</string>
		<string>uni1FF6</string>
		<string>uni1FF3</string>
		<string>uni1FF2</string>
		<string>uni1FF4</string>
		<string>uni1FA0</string>
		<string>uni1FA1</string>
		<string>uni1FA2</string>
		<string>uni1FA3</string>
		<string>uni1FA4</string>
		<string>uni1FA5</string>
		<string>uni1FA6</string>
		<string>uni1FA7</string>
		<string>uni1FF7</string>
		<string>uni1FBE</string>
		<string>uni037A</string>
		<string>uni0531</string>
		<string>uni0532</string>
		<string>uni0533</string>
		<string>uni0534</string>
		<string>uni0535</string>
		<string>uni0536</string>
		<string>uni0537</string>
		<string>uni0538</string>
		<string>uni0539</string>
		<string>uni053A</string>
		<string>uni053B</string>
		<string>uni053C</string>
		<string>uni053D</string>
		<string>uni053E</string>
		<string>uni053F</string>
		<string>uni0540</string>
		<string>uni0541</string>
		<string>uni0542</string>
		<string>uni0543</string>
		<string>uni0544</string>
		<string>uni0545</string>
		<string>uni0546</string>
		<string>uni0547</string>
		<string>uni0548</string>
		<string>uni0549</string>
		<string>uni054A</string>
		<string>uni054B</string>
		<string>uni054C</string>
		<string>uni054D</string>
		<string>uni054E</string>
		<string>uni054F</string>
		<string>uni0550</string>
		<string>uni0551</string>
		<string>uni0552</string>
		<string>uni0553</string>
		<string>uni0554</string>
		<string>uni0555</string>
		<string>uni0556</string>
		<string>uni0561</string>
		<string>uni0562</string>
		<string>uni0563</string>
		<string>uni0564</string>
		<string>uni0565</string>
		<string>uni0566</string>
		<string>uni0567</string>
		<string>uni0568</string>
		<string>uni0569</string>
		<string>uni056A</string>
		<string>uni056B</string>
		<string>uni056C</string>
		<string>uni056D</string>
		<string>uni056E</string>
		<string>uni056F</string>
		<string>uni0570</string>
		<string>uni0571</string>
		<string>uni0572</string>
		<string>uni0573</string>
		<string>uni0574</string>
		<string>uni0575</string>
		<string>uni0576</string>
		<string>uni0577</string>
		<string>uni0578</string>
		<string>uni0579</string>
		<string>uni057A</string>
		<string>uni057B</string>
		<string>uni057C</string>
		<string>uni057D</string>
		<string>uni057E</string>
		<string>uni057F</string>
		<string>uni0580</string>
		<string>uni0581</string>
		<string>uni0582</string>
		<string>uni0583</string>
		<string>uni0584</string>
		<string>uni0585</string>
		<string>uni0586</string>
		<string>uni0587</string>
		<string>uni10D0</string>
		<string>uni10D1</string>
		<string>uni10D2</string>
		<string>uni10D3</string>
		<string>uni10D4</string>
		<string>uni10D5</string>
		<string>uni10D6</string>
		<string>uni10D7</string>
		<string>uni10D8</string>
		<string>uni10D9</string>
		<string>uni10DA</string>
		<string>uni10DB</string>
		<string>uni10DC</string>
		<string>uni10DD</string>
		<string>uni10DE</string>
		<string>uni10DF</string>
		<string>uni10E0</string>
		<string>uni10E1</string>
		<string>uni10E2</string>
		<string>uni10E3</string>
		<string>uni10E4</string>
		<string>uni10E5</string>
		<string>uni10E6</string>
		<string>uni10E7</string>
		<string>uni10E8</string>
		<string>uni10E9</string>
		<string>uni10EA</string>
		<string>uni10EB</string>
		<string>uni10EC</string>
		<string>uni10ED</string>
		<string>uni10EE</string>
		<string>uni10EF</string>
		<string>uni10F0</string>
		<string>uni10F1</string>
		<string>uni10F2</string>
		<string>uni10F3</string>
		<string>uni10F4</string>
		<string>uni10F5</string>
		<string>uni10F6</string>
		<string>uni10F7</string>
		<string>uni10F8</string>
		<string>uni10F9</string>
		<string>uni10FA</string>
		<string>uni10FC</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>uni215F</string>
		<string>onehalf</string>
		<string>uni2189</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2151</string>
		<string>uni2080</string>
		<string>uni2081</string>
		<string>uni2082</string>
		<string>uni2083</string>
		<string>uni2084</string>
		<string>uni2085</string>
		<string>uni2086</string>
		<string>uni2087</string>
		<string>uni2088</string>
		<string>uni2089</string>
		<string>uni2070</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>uni2074</string>
		<string>uni2075</string>
		<string>uni2076</string>
		<string>uni2077</string>
		<string>uni2078</string>
		<string>uni2079</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>glyph121</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>sfthyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni10FB</string>
		<string>uni055A</string>
		<string>uni055B</string>
		<string>uni055C</string>
		<string>uni055D</string>
		<string>uni055E</string>
		<string>uni055F</string>
		<string>uni0589</string>
		<string>uni058A</string>
		<string>anoteleia</string>
		<string>uni037E</string>
		<string>space</string>
		<string>nonbreakingspace</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni03F6</string>
		<string>uni0374</string>
		<string>uni0375</string>
		<string>acutecomb</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>tildecomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0559</string>
		<string>uni0343</string>
		<string>tonos</string>
		<string>dieresistonos</string>
		<string>uni1FBF</string>
		<string>uni1FBD</string>
		<string>uni1FFE</string>
		<string>uni1FCD</string>
		<string>uni1FDD</string>
		<string>uni1FCE</string>
		<string>uni1FDE</string>
		<string>uni1FCF</string>
		<string>uni1FDF</string>
		<string>uni1FED</string>
		<string>uni1FEE</string>
		<string>uni1FC1</string>
		<string>uni1FEF</string>
		<string>uni1FFD</string>
		<string>uni1FC0</string>
		<string>nonmarkingreturn</string>
		<string>c6459</string>
		<string>c6460</string>
		<string>c6461</string>
		<string>c6462</string>
		<string>c6469</string>
		<string>c6471</string>
		<string>c6473</string>
		<string>c6478</string>
		<string>c6479</string>
		<string>c6476</string>
		<string>c6477</string>
	</array>
</dict>
</plist>
